.header {
    background-color: black;
    height: 50vh;
    width: 100%;
}

.header .tithead h1 {
    text-align: center;
    color: white;
}


/* body content flexbox zone*/

.contenaire {
    display: flex;
    justify-content: space-evenly;
}

.img {
    height: 400px;
}

body {
    background-color: coral;
    margin: 0;
    height: 100%;
    background-position: ;
}

.modul {
    margin-top: 20px;
}


/*grid zone*/

.image {
    height: 400px;
    grid-column-start: 3;
}

.para1 {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    margin-right: 120px;
}